<h2 mat-dialog-title></h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" [value]="dayTime">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

    <label>Czas rozpoczęcia:</label>
    <timepicker [(ngModel)]="dayTime" [arrowkeys]="true" [showMeridian]="false"></timepicker>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="close()">
    <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
    Anuluj
  </button>
</mat-dialog-actions>
