<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar">
    <span class="mr-auto">Planer konsultacji V1.0</span>
    <button mat-raised-button color="accent" class="button" routerLink="/logout">Wyloguj</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" class="sidenav" opened>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon fontSet="material-icons-outlined ">dashboard</mat-icon>
        Panel główny </a>
      <a mat-list-item>
        <mat-icon fontSet="material-icons-outlined ">date_range</mat-icon>
        Kalendarz</a>
      <a mat-list-item>
        <mat-icon fontSet="material-icons-outlined ">perm_identity</mat-icon>
        Pracownicy</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="pt-5">
    <div class="row h-100 justify-content-around p-4">
      <div class="col-7 h-100">
        <app-incoming-consultations></app-incoming-consultations>
      </div>
      <div class="col-5">
        <div class="col h-50">
          <app-subjects-card></app-subjects-card>
        </div>
        <div class="col h-50">
          <app-consultations-schedule></app-consultations-schedule>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
